@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

@import "buefy";
@import "tailwind";

.__nuxt-error-page {
  background-color: transparent;
  font-family: inherit;
  position: static;

  svg {
    margin: auto;
  }
}
